.currencyModal {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  :global(.ant-form-item) {
    margin-bottom: 30px;
    // :global(.ant-form-item-control-wrapper) {
    //   width: 280px;
    // }
  }

  .btnBox {
    margin-left: 12%;
  }

  .btn2 {
    margin-left: 20px;
  }
}

.companyTag {
  height: 40px;
  width: 106px;
  margin-bottom: 20px;
  .tagWrapper {
    height: 40px;
    color: #667ffd;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    background: rgba(242, 244, 254, 1);
  }
  &::after {
    position: absolute;
    top: 0;
    left: 106px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #f2f4fe;
    margin: unset;
  }
}

.workBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background: rgba(237, 240, 255, 1);
  border-radius: 4px;
  color: #667ffd;
  line-height: 40px;
}

.hasImg {
  // :global(.ant-radio-wrapper) {
  //   margin-right: 20px;

  //   :global(.ant-radio){

  //   }
  // }
  .GroupBox {
    margin-right: 20px;
    float: left;
  }
}
.imgBox {
  width: 100px;
  height: 100px;
  background: rgba(248, 248, 248, 1);
  border: 1px solid rgba(228, 237, 240, 1);
  border-radius: 2px;
}
.imgTitle {
  width: 100%;
  text-align: center;
  height: 11px;
  font-size: 12px;
  font-family: Montserrat-Light;
  font-weight: 300;
  color: rgba(154, 151, 174, 1);
}

.picture {
  width: 200px;
  height: 160px;
  background: rgba(248, 248, 248, 1);
  border: 1px solid rgba(228, 237, 240, 1);
  border-radius: 2px;
}

.formItemBox {
  &.noTitle {
    margin-left: 12.5%;
  }
  .boxTitle {
    text-align: right;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
  }

  :global(.ant-form-item) {
    float: left;
  }

  .lineSpan {
    margin: 0 14px;
  }
}
