.currencyModal {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  :global(.ant-form-item) {
    margin-bottom: 20px;
    :global(.ant-form-item-label) {
      width: 200px;
      height: 30px;
      line-height: 30px;
    }
    :global(.ant-form-item-control-wrapper) {
      white-space: nowrap;
      line-height: 30px;
      :global(.ant-form-item-control) {
        line-height: 30px;
      }
    }
  }
  .vcId {
    :global(.ant-select-enabled) {
      float: left;
    }
  }
  .btnBox {
    margin-left: 12%;
  }

  .btn2 {
    margin-left: 20px;
  }
}

.companyTag {
  height: 40px;
  width: 106px;
  margin-bottom: 20px;
  .tagWrapper {
    height: 40px;
    color: #667ffd;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    background: rgba(242, 244, 254, 1);
  }
  &::after {
    position: absolute;
    top: 0;
    left: 106px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #f2f4fe;
    margin: unset;
  }
}

.workBtn {
  margin-left: 10px;
  border-radius: 4px;
  color: #667ffd;
}

.hasImg {
  // :global(.ant-radio-wrapper) {
  //   margin-right: 20px;

  //   :global(.ant-radio){

  //   }
  // }
  .GroupBox {
    margin-right: 20px;
    float: left;
    text-align: center;
  }
}
.imgBox {
  width: 100px;
  height: 100px;
  background: rgba(248, 248, 248, 1);
  border: 1px solid rgba(228, 237, 240, 1);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.imgTitle {
  width: 100%;
  text-align: center;
  height: 11px;
  font-size: 12px;
  font-family: Montserrat-Light;
  font-weight: 300;
  color: rgba(154, 151, 174, 1);
}

.picture {
  width: 200px;
  height: 160px;
  background: rgba(248, 248, 248, 1);
  border: 1px solid rgba(228, 237, 240, 1);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.uploadBtn {
  width: 130px;
  height: 30px;
  line-height: 30px;
  background: rgba(237, 240, 255, 1);
  color: #667ffd;
  font-family: Montserrat-Light;
  font-weight: 500;
}
.uploadICON {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 12px;
  transform: scale(0.8);
  border-radius: 12.5px;
  background: rgba(237, 240, 255, 1);
  color: rgba(102, 127, 253, 1);
}
.colorFont {
  color: #667ffd;
  font-weight: 500;
}
.text {
  margin-left: 5px;
  color: #667ffd;
}

.formItemBox {
  &.noTitle {
    margin-left: 13%;
  }
  .boxTitle {
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
  }

  :global(.ant-form-item) {
    float: left;
  }

  .lineSpan {
    display: inline-block;
    text-align: center;
    width: 30px;
    margin: 0 14px;
  }
  .lineSpanOr {
    display: inline-block;
    text-align: center;
    width: 60px;
    margin: 0 14px;
  }
}
