.CompanyModal {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  :global(.ant-form-item) {
    margin-bottom: 25px;
  }
  :global(.ant-form-item-label) {
    width: 220px;
  }
  :global(.ant-form-item-control) {
    height: auto;
  }
  .modalBtn {
    position: relative;
  }
  .btn {
    position: absolute;
    left: 432px;
  }
  .btnBox {
    margin-left: 220px;
  }
  .btn2 {
    margin-left: 20px;
  }
  .workPlus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    background: rgba(237, 240, 255, 1);
    border-radius: 4px;
    color: #667ffd;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  .tableBox {
    margin-left: 220px;
    width: 100%;
    height: auto;
  }
  .tableContainer{
    max-height: 600px;
    overflow: scroll;
  }
  .disable {
    :global {
      td {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}
