@import "_base.scss";
.formPid {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  .cancelBtn {
    position: absolute;
    bottom: 40px;
    left: 400px;
  }

  :global(.ant-form-item) {
    width: 900px;
    height: 70px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.ant-form-item-control-wrapper) {
      width: 560px;
      height: auto;
      :global(.ant-form-item-control) {
        width: 280px;
      }
    }
  }
}
