@import "_base.scss";

.login {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/login-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.form {
  width: 320px;
  background: #fff;
  width: 270px;
  height: 276px;
  padding: 20px 15px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
  :global(.ant-form-item) {
    margin-bottom: 15px;
    height: 30px;
  }
  :global(.ant-input) {
    height: 30px;
  }
  :global(.ant-btn) {
    height: 30px;
  }
  :global(.ant-form-explain) {
    display: none;
  }
}

.logoBox {
  margin: 20px auto;
  width: 120px;
  height: 22px;
  background-image: url("../../../assets/images/login-lg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tips {
  display: flex;
  color: $gray-color;
  justify-content: space-around;
  font-size: $font-size-sm;
  margin-top: -20px;
}

.captcha {
  width: 106px;
  height: 30px;
}
