.currencyModal {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  :global(.ant-form-item) {
    margin-bottom: 30px;
    :global(.ant-form-item-control-wrapper) {
      width: 280px;
      :global(.ant-form-item-control) {
        height: auto;
      }
      :global(.ant-select-dropdown-menu-item){
        &.grey{
          color:#999;
        }
      }

    }
  }
}
.btnBox {
  margin-left: 12%;
}
.vcMdoal {
  margin-left: 40%;
}

