@import "_base.scss";

.container {
    display: flex;
    flex-direction: column;
}
.tableBox {
    flex: 1;
    overflow-y: hidden;
}
.textHidden{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  // popover
  .popovers {
    z-index: 9999999!important;
  }

  .colClass {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // width: 200px;
  }
