// 自定义全局样式变量
// -------- Colors -----------
$primary-color: #667ffd;
$dark-color: #343957;
$gray-color: #888;
$border-light-color: #f8f8f8;
$border-color-base: rgba(228, 237, 240, 1);
$background-color-gray: #f9f9f9;
$background-color-white: white;
// -----------------styles--------
$border-radius-lg: 6px;
$box-shadow-base: 0px 2px 20px 0px rgba(52, 57, 87, 0.1);
// *** font-size ***/
$font-size-base: 12px;
$font-size-lg: 16px;
$font-size-sm: 10px;
