.app {
}
.hasHelp {
}

.help {
}
.btnBox {
}

.btnGroup {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .submitBtn {
    margin-right: 20px;
  }
}

.workBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background: rgba(237, 240, 255, 1);
  border-radius: 4px;
  color: #667ffd;
  line-height: 40px;
}
