.currencyModal {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  :global(.ant-form-item) {
      margin-bottom: 30px;

      :global(.ant-form-item-control-wrapper) {
          width: 280px;
          white-space: nowrap;

          :global(.ant-form-item-control) {
              height: 100%;

              :global(.ant-upload-select) {
                  display: block;
              }
          }
      }
    }

    .btnBox {
      margin-left: 12%;
    }

    .vcMdoal {
      margin-left: 40%;
    }

    .btn2 {
      margin-left: 20px;
    }

    .importBtn {
      margin-left: 20px
    }

    .workBtn {
      margin-left: 10px;
      border-radius: 4px;
      color: #667ffd;
    }

    .workPlus {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 10px;
      background: rgba(237, 240, 255, 1);
      border-radius: 4px;
      color: #667ffd;
      // position: absolute;
      line-height: 30px;
      font-size: 16px;
      cursor: pointer;
    }

    .uploadICON {
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      vertical-align: middle;
      margin-left: 10px;
      font-size: 12px;
      transform: scale(0.8);
      border-radius: 12.5px;
      background: rgba(237, 240, 255, 1);
      color: rgba(102, 127, 253, 1);
    }

    .hidden {
      display: none;
    }
}


.companyTag {
  height: 40px;
  width: 106px;
  margin-bottom: 20px;

  .tagWrapper {
    height: 40px;
    color: #667ffd;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    background: rgba(242, 244, 254, 1);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 106px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #f2f4fe;
    margin: unset;
  }
}


.table {
  width: 100%;
  max-width: 500px;
  line-height: 3;
  thead {
    background-color: #eaedff;
  }
  td {
    padding: 0 10px;
  }

  :global(.ant-form-item) {
    margin-bottom: 0!important;
  }

  :global(.ant-form-item-control-wrapper) {
    width: 100%!important;
  }
}
