@import "_base.scss";

.appWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  min-height: 100%;
  flex-direction: column;

  :global(.minInput) {
    width: max-content;
    :global(.ant-form-item-control) {
      width: 180px !important;
    }
  }
  :global(.addbtn-mb20) {
    margin-bottom: 20px;
  }
  :global(.addbtn-ml20) {
    margin-left: 20px;
  }
  :global(.sb-form) {
    padding: 20px;
    display: flex;
    :global(.ant-form) {
      min-height: calc(100% - 20px);
      flex: 1;
      height: max-content;
      background: $background-color-white;
      box-shadow: $box-shadow-base;
      border-radius: $border-radius-lg;
      padding-top: 40px;
      padding-left: 100px;
    }
  }
}
