@import "_base.scss";



.container {
  display: flex;
  flex-direction: column;
}

.tableBox {
  flex: 1;
  overflow-y: hidden;
}

.linkBtn {
    border: none;
    cursor: pointer;
    background: none;
    color: $primary-color;
    outline: none;
    &:disabled {
        color: $gray-color;
    }
}

.taskTable {
    .remarkBtn {
        // display: none;
        visibility: hidden;
        margin-left: .5em;
    }
    :global(.ant-table-row-hover) {
        .remarkBtn {
            display: inline;
            visibility: visible;
        }
    }
    :global(.ant-table-thead > tr > th, .ant-table-tbody > tr > td) {
        padding: 16px 16px;
        word-break: break-word;
        -ms-word-break: break-all;
    }
    .colClass {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // width: 200px;
      }
}


