@import "_base.scss";
.maskModal {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  :global(.ant-form-item) {
    margin-bottom: 30px;
    :global(.ant-form-item-control-wrapper) {
      width: 280px;
      height: auto;
      :global(.ant-form-item-control) {
        height: auto;
      }
      :global(.ant-checkbox-group) {
        border: 1px solid $border-color-base;
        width: 280px;
        :global(.ant-checkbox-group-item) {
          display: block;
          margin: 8px;
        }
      }
      :global(.ant-tree) {
        max-height: 240px;
        border: 1px solid $border-color-base;
      }
    }
  }

  .btnBox {
    margin-left: 12%;
  }

  .btn2 {
    margin-left: 20px;
  }

  .textHidden {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .popovers {
    z-index: 9999999 !important;
  }
}
