<!--
 * @Description: 
 * @Author:  bean^ <bean_4@163.com>
 * @Date: 2019-10-11 12:07:50
 * @LastEditors:  bean^ <bean_4@163.com>
 * @LastEditTime: 2019-10-11 12:30:41
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .child {
      /* width: 50%; */
      background: red;
      /* display: inline-block; */
      /* display: table; */
      margin: 0 auto;
    }

    .parent {
      /* text-align: center; */
    }
  </style>
</head>

<body>
  <div class="parent">
    <div class='child'>DEMO</div>
  </div>
</body>

</html>