.minInput {
  width: 80% !important;
  margin-right: 16px;
}

.workBtn {
  width: 40px;
  height: 40px;
  background: rgba(237, 240, 255, 1);
  border-radius: 4px;
  color: #667ffd;
  position: absolute;
  line-height: 40px;
}
.autoHeight {
  :global(.ant-form-item-control) {
    height: auto;
  }
}
