@import "_base.scss";

.templateModal {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    :global(.ant-form-item-label) {
        font-size: 14px;
        font-family: Montserrat-Light;
        color: #3e3664;
    }

    .textItem {
        line-height: 21px;

        :global(label) {
            top: -10px;
        }

        :global(.ant-form-item-control) {
            width: 282px;
            height: 36px;
            font-size: 14px;
            line-height: 21px;
            font-family: Montserrat-Light;
            font-weight: 300;
            color: rgba(154, 151, 174, 1);
        }
    }

    :global(.ant-form-item) {
        margin-bottom: 30px;

        :global(.ant-form-item-control-wrapper) {
            width: 280px;
            height: auto;

            :global(.ant-checkbox-group) {
                border: 1px solid $border-color-base;
                width: 280px;

                :global(.ant-checkbox-group-item) {
                    display: block;
                    margin: 8px;
                }
            }

            :global(.ant-tree) {
                max-height: 200px;
                border: 1px solid $border-color-base;
            }
        }
    }

    .btnBox {
        margin-left: 12%;
    }

    .btn2 {
        margin-left: 20px;
    }

    .uploadBtn {
        border: none;
        width: 113px;
        height: 30px;
        line-height: 30px;
        border-radius: 2px;
        background: rgba(237, 240, 255, 1);
        color: rgba(102, 127, 253, 1);
    }

    .uploadIcon {
        vertical-align: middle;
        font-size: 14px;
    }

    .uploadArea {
        width: 170px;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: rgba(237, 240, 255, 1);
        border-radius: 2px;
        color: rgba(102, 127, 253, 1);
        overflow: hidden;

        .floatBlock {
            float: left;
            height: 30px;
            margin-right: 5px;
            line-height: 30px;

            &:nth-child(2) {
                width: 100px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
