@import "_base.scss";

:global {
  html,
  body {
    width: 100%;
    height: 100%;
    :global(.ant-form-item-label) {
      height: 30px;
      line-height: 30px;
    }
    :global(.ant-form-item-control) {
      height: 30px;
      line-height: 30px;
    }
    @media screen and(max-width: 1340px) {
      .sb-form{
        min-width: 900px;
        overflow-x: scroll;
      }
    }
  }
 

  #app {
    width: 100%;
    height: 100%;
  }

  svg,
  svg path {
    fill: currentcolor;
  }

  .center-table {
    table td {
      text-align: left;
    }
    .ant-table-thead {
      height: 50px;
      border-radius: 4px 4px 0px 0px;
    }
    .ant-table-thead > tr > th {
      text-align: left;
      background: rgba(234, 237, 255, 1);
    }
    .ant-table-tbody > tr > td {
      word-wrap: break-word;
      word-break: break-all;
      //   white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .anticon {
      vertical-align: middle;
    }
  }
  .childLeftSearch > * {
    float: left;
    height: 30px!important;
  }
}
