@import "_base.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: #f9f9f9;
  overflow-x: scroll;
  width: 100%;
  // padding: 20px;
  & > div:nth-of-type(1) {
    // min-width: 1160px;
    // max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    flex: 1;
    // background-color: $background-color-gray;
    overflow-y: auto;
    // box-shadow: $box-shadow-base;
    border-radius: $border-radius-lg;
    :global(.searchForm) {
      padding: 20px;
      padding-bottom: 0;
      background-color: $background-color-white;
      box-shadow: $box-shadow-base;
      border-radius: $border-radius-lg;
      & :global(.ant-col) {
        width: unset;
      }
      & :global(.ant-col-offset-1) {
        margin-left: 20px;
      }
      & :global(.ant-form-item-control) {
        width: 240px;
      }
      & :global(.ant-form-item-label) {
        text-align: left;
        margin-left: 20px;
      }
      & :global(label) {
        margin: 0 10px 0 0;
        &::after {
          display: none;
        }
      }
    }
    & > div:nth-of-type(2) {
      padding: 26px 20px 0 20px;
      margin-top: 20px;
      background: $background-color-white;
      box-shadow: $box-shadow-base;
      border-radius: $border-radius-lg;
    }
  }
  & > div:nth-of-type(2) {
    height: 50px;
  }
}
